In [1]:
!head Data/countries_info.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

In [3]:
happiness = pd.read_csv(HAPPINESS_DATASET)
happiness['world_region'] = happiness['world_region'].str.strip()
countries = pd.read_csv(COUNTRIES_DATASET)
print(countries.head(1))
happiness.head(1)

  country_name    area  population literacy
0  afghanistan  647500    31056997     36,0

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,Afghanistan,2.5669,0.470367,52.59,0.396573,-0.096429,0.933687,South Asia

In [4]:
countries['country_name'] = countries['country_name'].str.title()
country_features = countries.merge(happiness, how = 'left', left_on = 'country_name', right_on = 'country').drop('country', axis = 1)
country_features.head()

,country_name,area,population,literacy,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,Afghanistan,647500,31056997,"36,0",2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,Albania,28748,3581655,"86,5",4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,Algeria,2381740,32930091,"70,0",5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa
3,Argentina,2766890,39921833,"97,1",5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean
4,Armenia,29800,2976372,"98,6",4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States

In [5]:
country_features.sort_values('happiness_score', ascending = False)[['country_name', 'happiness_score']].head(10)

    country_name  happiness_score
38       Finland           7.8087
31       Denmark           7.6456
115  Switzerland           7.5599
50       Iceland           7.5045
92        Norway           7.4880
87   Netherlands           7.4489
114       Sweden           7.3535
88   New Zealand           7.2996
6        Austria           7.2942
72    Luxembourg           7.2375

In [6]:
average_happiness_by_region = happiness.groupby('world_region')['happiness_score'].agg(['mean', 'size'])
average_happiness_by_region.sort_values('mean', ascending = False)

                                        mean  size
world_region
North America and ANZ               7.173525     4
Western Europe                      6.967405    20
Latin America and Caribbean         5.971280    20
Central and Eastern Europe          5.891393    14
Southeast Asia                      5.517788     8
East Asia                           5.483633     3
Commonwealth of Independent States  5.358342    12
Middle East and North Africa        5.269306    16
Sub-Saharan Africa                  4.393856    32
South Asia                          4.355083     6

In [7]:
happiness.groupby('world_region').get_group('North America and ANZ')[['country', 'happiness_score']]

           country  happiness_score
5        Australia           7.2228
21          Canada           7.2321
88     New Zealand           7.2996
127  United States           6.9396

In [8]:
country_features[country_features['literacy'] == '100,0']['country_name']
country_features.groupby('literacy').get_group('100,0')['country_name']

5      Australia
31       Denmark
38       Finland
72    Luxembourg
92        Norway
Name: country_name, dtype: object

In [9]:
country_features[country_features['literacy'] == '100,0']['country_name']
country_features.groupby('literacy').get_group('100,0')['country_name']

5      Australia
31       Denmark
38       Finland
72    Luxembourg
92        Norway
Name: country_name, dtype: object

In [10]:
country_features["literacy"] = country_features["literacy"].str.strip().str.replace(',', '.').astype(float)
country_features["literacy"].mean()

81.85112781954888

In [11]:
n = len(country_features[country_features['literacy'].str.strip().str.replace(',', '.').astype(float)<50])
print(f'{n/len(country_features)*100}%')

AttributeError: Can only use .str accessor with string values!

In [12]:
world_population = country_features['population'].sum()
illiterate_population = ((1-country_features["literacy"]/100)*country_features['population']).sum()
print(illiterate_population)
print(f'{illiterate_population/world_population*100}%')

1249372988.1030002
20.32996582965084%

In [13]:
country_features['population_density'] = country_features['population']/country_features['area']

In [14]:
country_features.sort_values('population_density')[['country_name','happiness_score']].head(3)

   country_name  happiness_score
83     Mongolia           5.4562
5     Australia           7.2228
14     Botswana           3.4789

In [15]:
country_features.sort_values('population_density')[['country_name','happiness_score']].head(3)

   country_name  happiness_score
83     Mongolia           5.4562
5     Australia           7.2228
14     Botswana           3.4789